<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>696535694553-qqu8lisor071mokp2vk6p1v3jbaurs4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696535694553-qqu8lisor071mokp2vk6p1v3jbaurs4r</string>
	<key>API_KEY</key>
	<string>AIzaSyDETkmWe7Wq6zglji7AB6Xf7Yo6qQgTVgw</string>
	<key>GCM_SENDER_ID</key>
	<string>696535694553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nekturlabs.Planda</string>
	<key>PROJECT_ID</key>
	<string>planda-2eb36</string>
	<key>STORAGE_BUCKET</key>
	<string>planda-2eb36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696535694553:ios:e397c880c4e039aa</string>
	<key>DATABASE_URL</key>
	<string>https://planda-2eb36.firebaseio.com</string>
</dict>
</plist>